@{
    ViewBag.Title = "Информации";
}
<div class="page-header">
    <h1><small><span class="label label-danger small"><em>beta</em></span></small>Инфо-Биро Готвач <small>Апликација за припрема на верзија.</small></h1>
</div>
<div class="row">
    <div class="alert alert-info" role="alert">
        <p style="color:black;">
            Оваа апликација служи за припрема не верзија.
            Концептот на работа е смислен како да се приготви некое јадње т.е. за секоја апликација се  припремаат состојките:фајлови(ехе,хмл,репорти..) и база-објекти:(процедури,функции,тригери..).
            Главен податок е изборот на Датум од последната верзија.
            </p>
        <p style="color: black; margin-top: 5px;">
            Потоа, аппликацијата ги собира сите фајлови, креира скрипотви за базаобјкетите и враќа ZIP фајл, спремен за поставување.
            При превземањето на фајлови, се пази да не се земаат конфизите!
        </p>
        <p style="color: black; margin-top: 5px;">Информациите за апликациите се запишани во Konfig.xml - зачуван во роотот на апликацијата.</p>

        <p style ="color:black; margin-top:5px;">
            <b>ВАЖНО!ЕХЕ-то се зема од bin фолдерот од последната успешна избилдана верзија!</b>
        </pstyle>
    </div>
    </div>

